body {
  margin: 0%;
  padding: 0;
  overflow-x: hidden;
}
nav {
  position: relative;
  background: linear-gradient(
    90deg,
    #2b2b2b 26.74%,
    #183cb7 100%
  );
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  font-size: 2vh;
  padding: 1.5vh;
}

.navbuttons {
  position: relative;
  left: 40%;
  display: flex;
}

.navbuttons a {
  margin-right: 30%;
}
.home {
  width: 100%;
  background-image: url("assets/bg/homebg.jpg");
  padding: 3vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}
.home video {
  margin-top: 8vh;
  height: 70vh;
  border-radius: 3vh;
  margin-left: 10vh;
  z-index: 100;
  box-shadow: 10px 15px 10px 10px
    rgba(0, 0, 0, 0.74);
}
.home .card1 {
  margin-top: 2vh;
  position: relative;
  color: white;
  left: -70vh;
}
.card1 {
  background-color: black;
  border-radius: 3vh;
  padding: 5vh;
  width: 35vh;
  box-shadow: 8px 10px 10px 10px
    rgba(0, 0, 0, 0.74);
}

.home .subheading {
  font-size: 2vh;
  line-height: 2.5vh;
}

.home .card2 {
  position: relative;
  color: rgb(0, 0, 0);
  left: -20vh;
}
.card2 {
  background-color: rgb(255, 255, 255);
  border-radius: 3vh;
  padding: 5vh;
  margin-bottom: 5vh;
  width: 35vh;
  box-shadow: 8px 10px 10px 10px
    rgba(0, 0, 0, 0.74);
}

.info p {
  width: 80%;
  font-size: 2vh;
  line-height: 2.5vh;
}
.home .info .heading {
  font-size: 5vh;
  font-weight: bold;
}

.home .card1 button {
  border-radius: 20px;
  padding: 1vh;
  border-style: none;
  font-weight: 700;
  font-size: 1.5vh;
}
.home .card2 button {
  border-radius: 20px;
  padding: 1vh;
  border-style: none;
  font-weight: 700;
  background-color: black;
  font-size: 1.5vh;
  color: white;
}
.products {
  width: 100%;
  height: 100vh;
}

.products div {
  position: relative;
  top: -100vh;
  color: white;
}

.products .majorheading {
  position: relative;
  font-size: 3vh;
  font-weight: bolder;
  left: 35vh;
  top: 15vh;
}

.products .majorsubheading {
  font-size: 2vh;
  position: relative;
  left: 38vh;
  top: 15vh;
}
.products .majorbutton {
  position: relative;
  color: #3f6ad4;
  left: -70vh;
  margin-right: 3vh;
  font-size: 2vh;
}
.products .major {
  position: relative;
  width: 100vh;
}

.products .right {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 120vh;
  top: -60vh;
}

.products .right1 .button {
  position: relative;
  top: 8vh;
  left: -20vh;
  color: #3f6ad4;
  font-size: 2vh;
  margin-right: 3vh;
}
.products .right2 .button {
  position: relative;
  top: 12vh;
  left: -20vh;
  color: #3f6ad4;
  font-size: 2vh;
  margin-right: 3vh;
}
.products .right .right1 img {
  width: 25vh;
}
.products .right .right2 img {
  position: relative;
  width: 25vh;
  top: 10vh;
}

.products .right1 .heading {
  position: relative;
  top: -5vh;
  z-index: 55;
  font-size: 2vh;
  left: 5vh;
}
.products .right2 .heading {
  position: relative;
  top: 11vh;
  z-index: 55;
  font-size: 2vh;
  left: 5vh;
}
.explore {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.explore .part1 {
  overflow: hidden;
  position: relative;
  width: 100%;
  top: 10vh;
  display: flex;
}

.explore video {
  position: relative;
  top: 10vh;
  width: 100%;
}
.exploreheading {
  padding-left: 10vh;
  padding-top: 20vh;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 8vh;
}
.explorep {
  padding-left: 12vh;
  width: 50vh;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 3vh;
  line-height: 5vh;
  z-index: 2;
}

.exploreimage {
  position: relative;
  height: auto;
  padding-top: 5vh;
  width: 25%;
  left: 40vh;
}

.explore::before {
  position: absolute;
  content: "";
  background: linear-gradient(
    180deg,
    #40a4ff 0%,
    #e12179 100%
  );
  width: 300vh;
  height: 100vh;
  z-index: -1;
  left: -20vh;
}

.explore .img {
  position: relative;
  top: -80vh;
  color: white;
  font-size: 8vh;
  left: 65vh;
}

.exploreinfo {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -60vh;
  text-align: center;
}

.explore .exploreinfo .heading {
  font-size: 4vh;
  font-weight: bolder;
}
.edu,
.gaming,
.cinema {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.exploreinfo p {
  position: relative;
  font-size: 2vh;
  width: 70%;
  right: -10vh;
  margin-top: 10vh;
}

.gaming .heading {
  color: rgb(200, 231, 24);
  z-index: 20;
  background: transparent;
}

.explore button {
  position: relative;
  width: 20vh;
  font-size: 3vh;
  border-radius: 2vh;
  background-color: #40a4ff;
  color: white;
  border-style: none;
  left: 18vh;
  top: 20vh;
}

footer {
  position: relative;
  margin-top: -25vh;
  background-color: black;
  padding: 3vh;
  padding-bottom: 25vh;
}

.newsletter {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-left: 40vh;
  margin-right: 30vh;
  margin-top: 10vh;
}

.newsletter .heading {
  font-size: 3vh;
  color: white;
}
.newsletter .subheading {
  font-size: 2vh;
  color: rgb(160, 160, 160);
}

.newsletter form input {
  color: white;
  background-color: black;
  border-radius: 1vh;
  padding: 1vh;
  border-style: solid;
}
.newsletter form button {
  position: relative;
  background-color: #3f6ad4;
  border-radius: 2vh;
  border-style: none;
  color: white;
  padding: 1.5vh;
  margin-left: 2vh;
}

.info{
  display: flex;
  flex-direction: column;
  color: rgb(151, 151, 151);
  position: relative;
  left: 30vh;
  top: 10vh;
}
.info div{
  margin-bottom: 3vh;
  color: white;
}

.container{
  display: flex;
}
.contact{
  display: flex;
  flex-direction: column;
}